.left #match-choosing{
    flex-direction: column;
    -ms-flex-direction: column;
}

.left #choosing-match-header{
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
}

.left #choosing-match-header button{
    margin-left: auto;
    border: none;
    background-color: transparent;
    height: min-content;
}

.left #choosing-match-header button *{
    height: min-content;
    align-self: center;
}

.left #choosing-match-header .material-icons.down-arrow{
    margin-left: 15px;
    padding: 4px;

    background-color: var(--grey);
    border-radius: 5px;

    color: var(--black);
    font-size: 16px;
}

/* ----------CARDS---------- */
.left #mini-cards{
    flex-wrap: wrap;
}

.left .mini-card{
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px #0000000c;
}

.left .mini-card::before{
    content: '';
    display: flex !important;
    object-fit: fill;
    background-image: linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    background-image: -moz-linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    background-image: -o-linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    background-image: -webkit-linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    height: 100%;
    width: 0%;
    transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;
    margin-right: auto;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
    position: absolute;
}

.left .mini-card:hover::before{
    width: 110%;
}

.left .mini-card .img-container, .left .mini-card .details, .left .mini-card button{
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 1000;
}

.left .mini-card .img-container{
    margin-left: 8px;
}

.left .mini-card button{
    margin-right: 8px;
}

.left .mini-card .img-container, .left .mini-card .img-container img{
    width: 75px;
    height: 75px;
    
    object-fit: cover;
    -o-object-fit: cover;
}

.left .mini-card .img-container img{
    border-radius: 10px;
}

.left .mini-card .details{
    width: 70%;
    padding: 4.5px 0 5px 10px;
}

.details h1{
    font-weight: 400;
    font-size: 15px;
    margin: 0 auto 5px auto;
}

.info{
    font-size: 9px;
    margin: 0 auto 5px auto;
}

.info i{
    font-size: 15px;
    margin-right: 3px;
    position: relative;
}

.info i.star{
    color: var(--darkOrange);
    bottom: 1px;
}

.info i.location{
    bottom: 2px;
}

.note{
    margin-right: 10px;
}

.details .price{
    margin: 0;
    font-size: 10px;
}

.priceNumber{
    font-size: 16px;
}

.left .mini-card button{
    border-radius: 10px;
    width: 42px;
    height: 42px;
    margin-left: auto;
    border: none;
    background-color: rgba(244, 147, 56, 0.2);
}

.left .mini-card button i{
    font-size: 16px;
    font-weight: lighter;
    color: var(--darkOrange);
}