body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header {
    padding: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navleft {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navleft .hamburgerContainer {
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
    margin-right: auto;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.sidepanel {
    width: 0%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.863);
    overflow-x: hidden;
    transition: ease-in 0.2s;
    height: 100%;
}

.sidepanel.show {
    width: 100%;
    max-width: 600px;
    padding: 32px;
    padding-top: 60px;
    transition: ease-in 0.2s;
}

.sidepanel a {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    display: flex;
    justify-self: center;
    margin: auto;
    flex-direction: row;
    padding: 8px 20px;
    margin-bottom: 8px;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.5s;
}

.sidepanel a.active {
    background-color: var(--black);
}

.sidepanel a.active span,
.sidepanel a:hover span {
    color: var(--grey);
}

.sidepanel a span {
    color: #766E66;
    display: flex;
    margin: auto;
}

.sidepanel a:hover {
    background-color: var(--darkOrange);
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    width: min-content !important;
    min-width: min-content !important;
    padding: 8px !important;
    margin-left: 80%;
    color: var(--white);
    font-size: 36px;
}

.sidepanel .closebtn:hover {
    background-color: transparent;
    transform: scale(1.5);
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.navlist {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navleft .hamb {
    display: flex;
    width: 100%;
}

.home,
.Pocket,
.Heart {
    width: 20px;
    height: min-content;
}

.home {
    display: grid;
    grid-template-columns: 14px 14px;
}

/* .home .d2 {
    background: rgba(201, 197, 194, 1);
} */

.home div {
    height: 10px;
    width: 10px;
    background: #766E66;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 3px;
}

.navlist div a .Clip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
}

.navlist div a .Clip .rect {
    background: var(--black);
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.navlist div a .Clip .circle {
    margin-top: -20px;
    height: 20px;
    width: 20px;
    border: solid 3px white;
    background: rgba(119, 117, 116, 1);
    ;
    border-radius: 50%;
    margin-left: -18px;
}

.navlist div a .Pocket {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.navlist div a .Heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.hamb:hover {
    cursor: pointer;
}


.show div {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.navright img {
    display: flex;
    align-self: center;
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.minititle .hov {
    margin-right: 30px;
    margin-bottom: 20px;
    text-decoration: none;
}

.minititle .hov hr{
    width: 0%;
    border: 1px solid transparent;
}

.minititle .hov *{
    transition: all 0.5s;
}

.minititle .hov span {
    margin-bottom: 20px;
}

.minititle .hov.active hr, .minititle .hov:hover hr {
    width: 50%;
    background-color: var(--darkOrange);
}

.minititle .hov:hover span{
    color: var(--darkOrange);
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 45px;
}

.search #imgsearch {
    display: flex;
    position: absolute;
    left: 20px;
}

#imgsearch img {
    height: 20px;
    width: 20px;
}

.search input {
    font-size: 12px;
    width: 100%;
    background: var(--grey);
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.bleft {
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    align-content: space-around;
}

.btn_text {
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--white);
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;
}

.btn_text.active {
    background-color: var(--darkOrange);

}

.btn_text.active span {
    color: var(--white);
}

.btn_text img,
.btn_text .ico2 {
    display: none;
}


.buttons .bright .toggle {
    display: flex;
    height: 40px;
    width: 40px;
    background: var(--black);
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin-right: 10px;
}

.buttons .bright .toggle img {
    height: 20px;
    width: 20px;
}

.buttons .bright {
    display: flex;
}

.buttons .bright .searching {
    display: none;
}


.result {
    display: flex;
    align-items: center;
}

.result div {
    margin-right: 30px;
}

.result h2 {
    font-weight: 600;
}

.result span {
    font-weight: 900 !important;
}



.result .number {
    font-size: 10px;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    border-radius: 5px;
    padding: 5px 14px;
}

.cards {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-padding: 20px;
    scrollbar-color: var(--black);
    scrollbar-width: thin;
}

.cards .card {
    display: flex;
    margin: auto 20px auto auto;
    position: relative;
}

.cards .card img {
    width: 220px;
    height: 157px;
    border-radius: 10px;
}

.cards .texte {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(rgb(255, 255, 255, 0.349), rgba(0, 0, 0, 0.349) 63%);
    background: -o-linear-gradient(rgb(255, 255, 255, 0.349), rgba(0, 0, 0, 0.349) 63%);
    background: -moz-linear-gradient(rgb(255, 255, 255, 0.349), rgba(0, 0, 0, 0.349) 63%);
    background: -webkit-linear-gradient(rgb(255, 255, 255, 0.349), rgba(0, 0, 0, 0.349) 63%);
    position: absolute;
}

.card .details {
    align-self: flex-end;
    padding: 10px;
}

.card .details * {
    color: var(--white);
}

.card .details img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.card .details h1 {
    font-size: 16px;
    margin: 0 auto 9px auto;
}

.card .info {
    font-size: 11px;
    margin: 0;
}

.card .info i {
    font-size: 16px;
    margin-right: 3px;
    position: relative;
}

.card .note {
    margin-right: 10px;
}

.card .details .price {
    margin-bottom: 9px;
    font-size: 11px;
}

.card .priceNumber {
    font-size: 16px;
}

.minifoot {
    display: none;
}

/*-----main-----*/
#main {
    display: flex;
    flex-direction: column;
    margin: 20px 5px;
}

.left {
    padding: 10px;
}


/*Small devices (portrait tablets and large phones, 550px and up)*/
@media only screen and (min-width: 550px) {
    header {
        justify-content: center;
    }

    /* .cards .card img {
        width: 345px;
        height: 210px;
        object-fit: cover;
    } */
}


/*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    html,
    body {
        position: relative;
        padding: 0 !important;
    }

    .container {
        display: flex;
    }

    .left {
        width: 70%;
    }

    .hamburgerContainer {
        display: none !important;
    }

    .closebtn {
        display: none !important
    }

    header,
    .hamb,
    .nav,
    .navleft,
    .sidepanel {
        overflow: visible !important;
    }

    .sidepanel {
        display: flex;
        width: 100%;
        flex-direction: row;
        position: relative;
        background-color: transparent;
    }

    .sidepanel a span {
        display: none;
    }

    .sidepanel a {
        width: min-content;
        margin: unset;
        align-items: center;
        margin-right: 10px;
    }

    .sidepanel a:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }

    .sidepanel a:hover .home div {
        background-color: var(--white);
    }

    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    .bleft{
        flex-wrap: nowrap;
    }

    .cards {
        width: 100%;
    }

    .right {
        width: 30%;
    }

    .right #map{
        width: 100%;
        height: 100%;
    }

    #div1 {
        margin-top: 10px;
    }

    #search {
        background: #fff;
        font-size: 30px;
        color: var(--black);
    }

    .bleft {
        width: 100%;
    }

    .bright {
        margin-left: auto;
        width: 100px;
        height: 40px;
    }

    .bleft .btn_text {
        display: flex;
        margin-right: 10px;
        background: var(--black);
        width: 25%;
        height: 40px;
        justify-content: space-between;
    }

    .bleft .btn_text * {
        display: flex;
    }

    .ico2 {
        display: flex;
        border-radius: 3px;
        margin-left: auto;
    }

    .btn_text img {
        height: 17px;
        width: 17px;
    }

    .btn_text span {
        width: 100%;
        margin-left: 15px;
        position: relative;
        top: 2px;
        color: var(--white);
    }

    .rightImg,
    .ico2 .rect {
        box-sizing: content-box;
        height: 12px !important;
        width: 12px !important;
        padding: 4px;
        background: rgba(119, 117, 116, 1);
        ;
    }

    .ico2,
    .rightImg {
        display: none !important;
        justify-content: space-between;
    }

    .ico2 .rect {
        display: flex;
        background: rgba(119, 117, 116, 1);
        margin-left: 5px;
        border-radius: 5px;
    }

    .ico2 .rect .circle {
        display: flex;
        align-self: center;
        margin: auto;
        background: #F7F5F6;
        height: 5px;
        width: 5px;
        border-radius: 50%;
    }

    .buttons .bright .searching {
        display: flex;
        height: 40px;
        width: 40px;
        background: #F49338;
        justify-content: center;
        border-radius: 8px;
        align-items: center;
        margin-right: 10px;
    }

    .buttons .bright .searching img {
        height: 20px;
        width: 20px;
    }

    .texte .details{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    html,
    body {
        position: relative;
        /* border: 2px solid cyan; */
    }
    .ico2,
    .rightImg {
        display: flex !important;
    }

    .left{
        width: 80% !important;
    }

    .card{
        width: 33% !important;
    }

    .right{
        box-sizing: content-box;
        width: 20% !important;
    }

    #mini-cards{
        flex-direction: row;
    }

    .mini-card{
        width: 49% !important;
        margin-right: auto;
    }
}