body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header {
    padding: 10px;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navleft {
    display: flex;
    align-items: center;
}
.navleft img {
    height: 30px;
    width: 30px;
}

.navright img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-top: 10px;
}

.navlist div a .menu {
    display: grid;
    grid-template-columns: auto auto;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.navlist div a .menu .d2 {
    background: gray;
}

.navlist div a .menu div {
    height: 15px;
    width: 15px;
    background: #292726;
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.navlist div a .Clip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
}

.navlist div a .Clip .rect {
    background: #292726;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.navlist div a .Clip .circle {
    margin-top: -20px;
    height: 20px;
    width: 20px;
    border: solid 3px white;
    background: gray;
    border-radius: 50%;
    margin-left: -18px;
}

.navlist div a .Pocket {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: #292726;
    border-radius: 5px;
    margin-bottom: 20px;
}

.navlist div a .Heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
}

.hamb:hover {
    cursor: pointer;
}

.navlist {
    display: none;
    position: relative;
    top: 0;
    left: -100px;
    width: 50%;
    bottom: 0;
    height: 50%;
}

.show {
    list-style: none;
    left:10px;
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.show div {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}


.minititle {
    display: flex;
    margin-top: -30px;
}

.minititle .hov {
    margin-right: 30px;
}

.search {
    display: flex;
    align-items: center;
}

.idsearch {
    position: relative;
}

.search #imgsearch {
    display: flex;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 180px;
}

#imgsearch img {
    margin-top: -15px;
    height: 20px;
    width: 20px;
}

#search {
    display: flex;
    font-size: 12px;
    width: 195%;
    background: #f8eee5;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.search .righticon .squarre {
    height: 30px;
    width: 30px;
    background: gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.bleft {
    display: flex;
    margin-right: 20px;
}

.b {
    font-size: 14px;
    color: #F7F5F6;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    background: #F49338;
    border-radius: 5px;
    width: 75px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.icoleft, .icoright, .icoguest, .icohome, .ico2 {
    display: none;
}


.buttons .bright .toggle {
    display: flex;
    height: 40px;
    width: 40px;
    background: #292726;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin-right: 10px;
}

.buttons .bright .toggle img {
    height: 20px;
    width: 20px;
}

.buttons .bright {
    display: flex;
}

.buttons .bright .searching{
    display: none;
}


.result {
    display: flex;
    align-items: center;
}

.result div {
    margin-right: 30px;
}



.result .number {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(206, 205, 205);
    border-radius: 5px;
    height: 30px;
    width: 50px;
}

.cards {
    display: flex;
}

.cards .card {
    margin: auto 10px 10px 10px;
    padding: 5px 15px;
    height: 200px;
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
}

.cards .card img {
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

.cards .texte {
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    bottom: -40px;
    left: 20px;
    color: white;
}

.card .texte .bas {
    display: flex;
    align-items: center;
}

.card .texte img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.card .texte .bas .p {
    margin-right: 10px;
}

.minifoot {
    display: flex;
    margin-top: 60px;
    align-items: center;
    margin-left: 25px;
}

.minifoot .leftarrow img{
    height: 20px;
    margin-right: 10px;
}

.minifoot .bar1 {
    height: 3px;
    width: 30px;
    background: rgb(44, 44, 44);
    margin-bottom: 5px;
    margin-right: 5px;
}

.minifoot .bar2 {
    height: 3px;
    width: 30px;
    background: gray;
    margin-bottom: 5px;
    margin-right: 10px;
}

.minifoot .rightarrow img{
    height: 20px;
}


/*-----main-----*/
#main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.left {
    padding: 10px;
}


/*Small devices (portrait tablets and large phones, 550px and up)*/
@media only screen and (min-width: 550px) {
    body {
        background-position-y: 65vh;
    }

    header {
        margin-left: 5%;
        justify-content: center;
    }
}


/*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html, body {
        height: 100%;
        min-height: 100%;
        position: relative;
    }

    .container {
        display: flex;
    }

    .left {
        width: 75%;
    }

    .hamb {
        display: none;
    }

    .navleft {
        display: flex;
        align-items: center;
    }

    .navlist {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }

    .navlist .div {
        margin-right: 20px;
        height: 40px;
        width: 40px;
    }

    .cards {
        width: 100%;
    }

    .right {
        width: 25%;
        background-color: red;
    }

    #div1 {
        margin-top: 10px;
    }

    #search {
        background: #fff;
        font-size: 30px;
        color: #292726;
    }

    .buttons .bleft {
        margin-right: 50px;
        margin-left: -100px;
    }

    .buttons .bleft .b {
        display: flex;
        margin-right: 10px;
        background: #292726;
        width: 10rem;
        height: 40px;
        justify-content: space-between;
    }

     .icoright, .icoleft, .ico2{
        display: flex;
        background: gray;
        border-radius: 3px;
        margin-left: 10px;
    }

    .icoright {
        justify-content: flex-end;
        width: 10px;
    }

    .icoleft {
        justify-content: flex-start;
        width: 10px;
    }

    .icohome, .icoguest {
        display: flex;
    }

    .icoguest img, .icohome img, .icoright img, .icoleft img, .ico2 img {
        height: 20px;
        width: 20px;
    }

    .b .ico2 {
        display: flex;
        justify-content: space-between;
    }

    .b .ico2 .rect {
        display: flex;
        align-items: center;
        justify-content: center;
        background: gray;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        margin-left: 2px;
    }

    .b .ico2 .rect .circle {
        background: #F7F5F6;
        height: 8px;
        width: 8px;
        border-radius: 50%;
    }

    .buttons .bright .searching{
        display: flex;
        height: 40px;
        width: 40px;
        background: #F49338;
        justify-content: center;
        border-radius: 8px;
        align-items: center;
        margin-right: 10px;
    }
    
    .buttons .bright .searching img {
        height: 20px;
        width: 20px;
    }
}