.left #match-choosing{
    flex-direction: column;
    -ms-flex-direction: column;
}

.left #choosing-match-header{
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
}

.left #choosing-match-header button{
    margin-left: auto;
    border: none;
    background-color: transparent;
    height: min-content;
}

.left #choosing-match-header button *{
    height: min-content;
    align-self: center;
}

.left #choosing-match-header .material-icons.down-arrow{
    margin-left: 15px;
    padding: 4px;

    background-color: var(--grey);
    border-radius: 5px;

    color: var(--black);
    font-size: 16px;
}

/* ----------CARDS---------- */
.left #mini-cards{
    flex-wrap: wrap;
}

.left .mini-card{
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.left .mini-card .img-container img{
    width: 72px;
    height: 72px;

    object-fit: cover;
    -o-object-fit: cover;

    border-radius: 8px;
}

.left .mini-card .details{
    width: 70%;
    padding: 4.5px 0 4.5px 10px;
}

.left .mini-card .details h1{
    font-size: 16px;
    margin: 0 auto 3px auto;
}

.left .mini-card .details .info{
    font-size: 10px;
    margin: 0 auto 5px auto;
}

.left .mini-card .details .info i{
    font-size: 16px;
    margin-right: 3px;
    position: relative;
}

.left .mini-card .details .info i.star{
    color: var(--darkOrange);
    bottom: 1px;
}

.left .mini-card .details .info i.location{
    bottom: 2px;
}

.left .mini-card .details .info .note{
    margin-right: 10px;
}

.left .mini-card .price{
    margin: 0;
    font-size: 10px;
}

.left .mini-card .priceNumber{
    font-size: 16px;
    font-weight: bold;
}

.left .mini-card button{
    margin-left: auto;
}