@import url('./stylePart1.css');
@import url('./stylePart2.css');

@font-face {
    font-family: 'okine';
    src: url('../fonts/MADEOkineSansPERSONALUSE-Thin.otf');
}

:root{
    --black: #292726;
    --grey: #EFEFEF;
    --darkOrange: #F49338;
    --white: #F7F5F6;
}

.flex{
    display: flex;
}

.align-items-vCenter{
    align-items: center;
}

.w-100{
    width: 100%;
}

body{
    background-color: var(--white);
    border: 2px solid cyan;
    font-family: okine, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body *{
    color: var(--black);
    box-sizing: border-box;
}

.left{
    flex-direction: column;
}