.left #match-choosing{
    flex-direction: column;
    -ms-flex-direction: column;
}

.left #choosing-match-header{
    flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
}

.left #choosing-match-header button{
    margin-left: auto;
    border: none;
    background-color: transparent;
    height: min-content;
}

.left #choosing-match-header button *{
    height: min-content;
    align-self: center;
}

.left #choosing-match-header .material-icons.down-arrow{
    margin-left: 15px;
    padding: 4px;

    background-color: var(--grey);
    border-radius: 5px;

    color: var(--black);
    font-size: 16px;
}

/* ----------CARDS---------- */
.left #mini-cards{
    flex-wrap: wrap;
}

.left .mini-card{
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px #0000000c;
}

.left .mini-card::before{
    content: '';
    display: flex !important;
    object-fit: fill;
    background-image: linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    background-image: -moz-linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    background-image: -o-linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    background-image: -webkit-linear-gradient(to right,#eeb987e7, #eeb987a6, #eeb98756);
    height: 100%;
    width: 0%;
    transition: width cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;
    margin-right: auto;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
    position: absolute;
}

.left .mini-card:hover::before{
    width: 110%;
}

.left .mini-card .img-container, .left .mini-card .details, .left .mini-card button{
    margin-top: 8px;
    margin-bottom: 8px;
    z-index: 100;
}

.left .mini-card .img-container{
    margin-left: 8px;
}

.left .mini-card button{
    margin-right: 8px;
}

.left .mini-card .img-container, .left .mini-card .img-container img{
    width: 75px;
    height: 75px;
    
    object-fit: cover;
    -o-object-fit: cover;
}

.left .mini-card .img-container img{
    border-radius: 10px;
}

.left .mini-card .details{
    width: 70%;
    padding: 4.5px 0 5px 10px;
}

.details h1{
    font-weight: 400;
    font-size: 15px;
    margin: 0 auto 5px auto;
}

.info{
    font-size: 9px;
    margin: 0 auto 5px auto;
}

.info i{
    font-size: 15px;
    margin-right: 3px;
    position: relative;
}

.info i.star{
    color: var(--darkOrange);
    bottom: 1px;
}

.info i.location{
    bottom: 2px;
}

.note{
    margin-right: 10px;
}

.details .price{
    margin: 0;
    font-size: 10px;
}

.priceNumber{
    font-size: 16px;
}

.left .mini-card button{
    border-radius: 10px;
    width: 42px;
    height: 42px;
    margin-left: auto;
    border: none;
    background-color: rgba(244, 147, 56, 0.2);
}

.left .mini-card button i{
    font-size: 16px;
    font-weight: lighter;
    color: var(--darkOrange);
}

.right{
    position: relative;
}

.right .onMap{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapCard{
    width: 230px;
    padding: 8px;
    background-color: var(--white);
    border-radius: 8px;
    box-sizing: border-box;
} 

.mapCard h1{
    font-size: 18px !important;
}

.mapCard .note{
    margin-right: 5px;
}

.mapCard .details .info *, .mapCard button *{
    font-size: 12px !important;
} 

.mapCardImgCtnr{
    box-sizing: border-box;
    width: 218px;
    height: 150;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}

.mapCardImgCtnr img{
    width: 100%;
    height: 100%;
}

.mapCard .details{
    margin: 20px auto;
}

.mapCard .info{
    margin-top: 10px;
}

.mapCard button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 8px;
    background-color: var(--black);
    border: none;
}

.mapCard button *{
    font-weight: 600;
    color: var(--white);
}

.mapCard button i{
    margin-left: 3px;
    position: relative;
        top: 1px;
}

.mini-card button:hover i, .mapCard button:hover i{
    position: relative;
    animation: test 0.5s;
    animation-iteration-count: infinite;
}

@keyframes test{
    0% {left: 0px}
    50% {left: 5px}
    100% { left: 0px}
}

.cirleBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: rgba(163, 163, 163, 0.664);
    /* background-color: red; */
}

.cirleBtn div{
    z-index: 1000;
    width: min-content;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.527)
}